
h3.h3 {
  text-align: center;
  margin: 1em;
  text-transform: capitalize;
  font-size: 1.7em;
}


.blocoValorProduto {
  -position: absolute;
  width: 100%;
  -height: 78px;  
}

.percentualProduto {
  -font-family: Montserrat;
  font-style: normal;
  font-weight: 800;
  font-size: 64px;
  line-height: 78px;
  /* identical to box height */
  text-align: right;
  color: #9F1F90;
  margin-bottom: 0;
}

.valorProdutoOriginal {
  -margin: 15px 10px -15px 0;
  -font-family: Montserrat;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 29px;
  text-align: right;
  text-decoration-line: line-through;
  color: #ED431E;
}

.valorProdutoDesconto {
  -margin: 0px 10px -15px 0;
  -font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  --line-height: 29px;
  text-align: right;
  -text-decoration-line: line-through;
  -font-weight: bold;
  color: #263238;
}

.blocoRetirada {
  background-color: transparent;
}





.alerta-retirada {
  color: #263238;
}

.text-right {
  float: right;
  margin-right: 10px;
  margin-top: 5px;
}

.desc {
  color: 546E7A;
}

.verde {
  color: #33CB00;
}

.input-group-text {
  background-color: transparent !important;
  border: none;
}

.borda-esquerda {
  background-color: white;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.borda-direita {
  background-color: white;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

input[type="radio"]:checked {
 
  background-color: #33CB00 !important;
  color:#33CB00 !important
}

.titulo{
  margin-top: 10px;
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 0px;
}

.descricao{
  font-size: 15px;
}

.centralizar{
  padding: 25px 0px 25px 0px;
}
.card-produto{
  padding: 10px 10px 10px 10px;
  border-radius: 20px !important ;
}

.bottom{
  margin-bottom: 10px;
}

.top{
  margin-bottom: 10px;
}

.white{
  background-color: white;
  border-radius: 8px;
}

.padding{
  padding: 0.75rem !important;
}

.black{
  background-color: black;
  
}

.form-control{
  border: 2px solid #33CB00 !important;
}


.label-resumo{
  font-family: 'Merriweather Sans', sans-serif !important;
  font-weight: 100;
}



.descricaoPruduto{
  color: #546E7A !important;
}

.meio-branco{
  text-align: center;
  background-color: white;
  border-radius: 8px;
}

.margin-left-right{
  padding-left: 0px;
  padding-right: 0px;
}

.sub-titulo-card {
  color: #90A4AE;
}


.btn-add-sub {
  padding: 8px;
  height: 40px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  font-size: 24px;
  font-size: 14px;
  font-weight: 500;
  border-radius: 8px;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #333;
  border: 1px solid #e6e6e6;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;  
  width: 100%;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}