/*!
 * Start Bootstrap - Scrolling Nav (http://startbootstrap.com/template-overviews/scrolling-nav)
 * Copyright 2013-2017 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-scrolling-nav/blob/master/LICENSE)
 */

header {
    padding: 20px 0 0px;
}

@media (min-width: 992px) {
    header {
        padding: 50px 0 0px;
    }
}

html {
    height: 100%;
    min-height: 100%;
}



section {
    padding: 70px 0;
}

body {
    padding-top: 0px;
    position: relative;

    font-family: 'Montserrat', sans-serif !important;
    
    display: flex;
    flex-direction: column;
    min-height: 100%;
    
    padding-bottom: 120px;
}

.navTop {
    width: 100%;
}

.navbar {
    background-color: #286090;
    border-color: #286090;
}

.text-white {
    color: #fff;
}

.padding {
    padding-top: 0px;
    padding-bottom: 20px;
}

.fixarRodape {
    bottom: 0;
    position: fixed;
    width: 100%;
    text-align: center;
    z-index: 999;
}

footer {    
    display: block;
    font-size: 80%;
    color: #868e96;
    background-color: black;
    border-color: black;
    width: 100%;

    margin-top: auto;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.form-signin .form-signin-heading, .form-signin .checkbox {
    margin-bottom: 10px;
}

.form-signin .checkbox {
    font-weight: normal;
}

.form-signin .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input[type="text"] {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.account-wall {
    margin-top: 20px;
    padding: 40px 0px 20px 0px;
    background-color: #f7f7f7;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.login-title {
    color: #555;
    font-size: 18px;
    font-weight: 400;
    display: block;
}

.profile-img {
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.need-help {
    margin-top: 10px;
}

.new-account {
    display: block;
    margin-top: 10px;
}

.grid-head {
    background-color: gray;
    color: white;
}

/* Add butao */

* {
    border-radius: (0) !important;
    
}

#field {
    margin-bottom: 20px;
}

#animated_div {
    width: 150px;
    height: 90px;
    background: #fff;
    color: #286090;
    position: relative;
    font-weight: bold;
    font-size: 35px;
    padding: 10px;
    animation: animated_div 5s 1;
    -moz-animation: animated_div 5s 1;
    -webkit-animation: animated_div 5s 1;
    -o-animation: animated_div 5s 1;
    border-radius: 5px;
    -webkit-border-radius: 5px;
}

@keyframes animated_div {
    0% {
        transform: rotate(0deg);
        left: 0px;
    }
    25% {
        transform: rotate(20deg);
        left: 0px;
    }
    50% {
        transform: rotate(0deg);
        left: 500px;
    }
    55% {
        transform: rotate(0deg);
        left: 500px;
    }
    70% {
        transform: rotate(0deg);
        left: 500px;
        background: #286090;
        color: #fff;
    }
    100% {
        transform: rotate(-360deg);
        left: 0px;
    }
}

@-webkit-keyframes animated_div {
    0% {
        -webkit-transform: rotate(0deg);
        left: 0px;
    }
    25% {
        -webkit-transform: rotate(20deg);
        left: 0px;
    }
    50% {
        -webkit-transform: rotate(0deg);
        left: 500px;
    }
    55% {
        -webkit-transform: rotate(0deg);
        left: 500px;
    }
    70% {
        -webkit-transform: rotate(0deg);
        left: 500px;
        background: #286090;
    }
    100% {
        -webkit-transform: rotate(-360deg);
        left: 0px;
    }
}

@-moz-keyframes animated_div {
    0% {
        -moz-transform: rotate(0deg);
        left: 0px;
    }
    25% {
        -moz-transform: rotate(20deg);
        left: 0px;
    }
    50% {
        -moz-transform: rotate(0deg);
        left: 500px;
    }
    55% {
        -moz-transform: rotate(0deg);
        left: 500px;
    }
    70% {
        -moz-transform: rotate(0deg);
        left: 500px;
        background: #286090;
    }
    100% {
        -moz-transform: rotate(-360deg);
        left: 0px;
    }
}

@-o-keyframes animated_div {
    0% {
        transform: rotate(0deg);
        left: 0px;
    }
    25% {
        transform: rotate(20deg);
        left: 0px;
    }
    50% {
        transform: rotate(0deg);
        left: 500px;
    }
    55% {
        transform: rotate(0deg);
        left: 500px;
    }
    70% {
        transform: rotate(0deg);
        left: 500px;
        background: #286090;
    }
    100% {
        transform: rotate(-360deg);
        left: 0px;
    }
}

/* Splash Aviso*/

#loader {
    bottom: 0;
    height: 175px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 175px;
}

#loader {
    bottom: 0;
    height: 175px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 175px;
}

#loader .dot {
    bottom: 0;
    height: 100%;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 87.5px;
}

#loader .dot::before {
    border-radius: 100%;
    content: "";
    height: 87.5px;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform: scale(0);
    width: 87.5px;
}

#loader .dot:nth-child(7n+1) {
    transform: rotate(45deg);
}

#loader .dot:nth-child(7n+1)::before {
    animation: 0.8s linear 0.1s normal none infinite running load;
    background: #8b3954 none repeat scroll 0 0;
}

#loader .dot:nth-child(7n+2) {
    transform: rotate(90deg);
}

#loader .dot:nth-child(7n+2)::before {
    animation: 0.8s linear 0.2s normal none infinite running load;
    background: #8b3954 none repeat scroll 0 0;
}

#loader .dot:nth-child(7n+3) {
    transform: rotate(135deg);
}

#loader .dot:nth-child(7n+3)::before {
    animation: 0.8s linear 0.3s normal none infinite running load;
    background: #8b3954 none repeat scroll 0 0;
}

#loader .dot:nth-child(7n+4) {
    transform: rotate(180deg);
}

#loader .dot:nth-child(7n+4)::before {
    animation: 0.8s linear 0.4s normal none infinite running load;
    background: #8b3954 none repeat scroll 0 0;
}

#loader .dot:nth-child(7n+5) {
    transform: rotate(225deg);
}

#loader .dot:nth-child(7n+5)::before {
    animation: 0.8s linear 0.5s normal none infinite running load;
    background: #8b3954 none repeat scroll 0 0;
}

#loader .dot:nth-child(7n+6) {
    transform: rotate(270deg);
}

#loader .dot:nth-child(7n+6)::before {
    animation: 0.8s linear 0.6s normal none infinite running load;
    background: #8b3954 none repeat scroll 0 0;
}

#loader .dot:nth-child(7n+7) {
    transform: rotate(315deg);
}

#loader .dot:nth-child(7n+7)::before {
    animation: 0.8s linear 0.7s normal none infinite running load;
    background: #8b3954 none repeat scroll 0 0;
}

#loader .dot:nth-child(7n+8) {
    transform: rotate(360deg);
}

#loader .dot:nth-child(7n+8)::before {
    animation: 0.8s linear 0.8s normal none infinite running load;
    background: #8b3954 none repeat scroll 0 0;
}

#loader .lading {
    background-image: url("../images/loading.gif");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    bottom: -40px;
    height: 20px;
    left: 0;
    position: absolute;
    right: 0;
    width: 180px;
}

@keyframes load {
    100% {
        opacity: 0;
        transform: scale(1);
    }
}

@keyframes load {
    100% {
        opacity: 0;
        transform: scale(1);
    }
}

/* Splash Aviso Fim*/

/* Novo Splash Aviso*/

/* Center the loader */

#loader {
    border: 5px solid #f3f3f3;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
    border-top: 5px solid #8b3954;
    border-radius: 50%;
    width: 40px;
    height: 40px
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* Add animation to "page content" */

.animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
}

@-webkit-keyframes animatebottom {
    from {
        bottom: -100px;
        opacity: 0
    }
    to {
        bottom: 0px;
        opacity: 1
    }
}

@keyframes animatebottom {
    from {
        bottom: -100px;
        opacity: 0
    }
    to {
        bottom: 0;
        opacity: 1
    }
}

#myDiv {
    display: none;
    text-align: center;
}

/* Novo Splash Aviso Fim*/

#card {
    display: block;
    width: 70px;
    height: 70px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

#overlay {
    -display: none;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, .8);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9999;
}

.overlay {
    -display: none;
    height: 100%;
    width: 100%;
    
    background: rgba(0, 0, 0, .8);
    position: relative;
    left: 0;
    top:50px;    
}


#h3header {
    -position: absolute;
    right: 10%;
    top: -5%;
    font-style: normal;
    font-weight: normal;
    font-size: 0.8rem;
    -line-height: 13px;
    color: #ECEFF1;
    font-weight: 500;
    font-family: 'Merriweather Sans', sans-serif;
}

#barcarrinho {
    position: absolute;
    right: 10%;
    top: -5%;
    font-style: normal;
    font-weight: normal;
    
    -line-height: 13px;
    color: #ECEFF1;
    font-weight: 500;
    font-family: 'Merriweather Sans', sans-serif;
    text-align: left;
}

#txtsaldo {
    -position: absolute;
    -left: 56.11%;
    right: 10%;
    top: 40.00%;
    bottom: 95.36%;
    font-style: normal;
    font-weight: 500;
    font-size: 0.8rem;;
    -line-height: 22px;
    color: #ECEFF1;
    margin: 0 auto;
    -text-align: center;
}

.labelCategoria {
    color: #263238;
    margin-left: 0;
    margin-top: 15px;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif !important;
    
}

.labelRetirada {
    color: #263238;
    margin-left: 15px;
    margin-top: 15px;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif !important;
    
}



.cabecalho-top {
    position: fixed;
    background-color: #3BBB10;
    padding-bottom: 20px;   
    width: 100%;     
    z-index: 350;
    padding: 2px 5px 0 0;
    
}

.corpo-pos-cabecalho {
    padding-top: 130px;
    background-color: #FFF;
    /*background-color: #FAFDFF;*/
}

.corpo-pos-cabecalho-app {
    padding-top: 90px;
    background-color: #FFF;
    /*background-color: #FAFDFF;*/
}

@media (min-width: 768px) {
    .corpo-pos-cabecalho {
        padding-top: 140px;
    }

    .corpo-pos-cabecalho-app {
        padding-top: 100px;        
    }
}



.rodape {
    background-color: #FAFDFF;
}

.cabecalho-logo-saldo{
    margin: 5px 0 7px 0;
}

#logo-footer {
    margin-top: 10px;
}

.label-footer {
    color: #33CB00;
    font-size: 18px;
    margin-top: 3px;
}

.redes-sociais {
    width: 25px;
    margin-top: 9px;
    margin-right: 10px;
}

.whatsapp {
    float: right;
    margin-top: -60px;
    width: 70px;
}

.copyright {
    text-align: center;
    color: #33CB00;
    font-size: 8px;
    margin-bottom: 10px;
    margin-top: 15px;
}

.carousel-indicators {
    top: 105%;
}

.carousel-inner {
    margin-bottom: 5%;
}

.w-90 {
    width: 90%!important;
}

.carousel-indicators li {
    height: 8px;
    width: 15px;
    border-radius: 50%;
    height: 15px;
    background-color: #33CB00;
}

.carousel-indicators .active {    
    width: 20px !important;    
    height: 20px!important;    
}



.carousel-item{
    --padding-bottom: 100px;
}

.carousel-item>a>img{
    border-radius: 0;
    width: 90%;
 }

.MultiCarousel {
    padding: 5%;
}

.altura-min {
    min-height: 600px;
}

.categoria-texto {
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 16px !important;
    --margin-top: 10px !important;
}

.text-left {
    float: left;
}

.verde {
    color: #33CB00;
}

.font-merriwather {
    font-family: 'Merriweather Sans', sans-serif !important;
}

.font-18{
    font-size: 18px;
}

.font-20{
    font-size: 20px;
}

.mb-4{
    margin-bottom: 2rem !important;
}



/*Alinhar Right*/
.right {
    position: absolute;
    right: 50px;    
    padding: 10px 10px 10px 10px;
  }

  
.titulo-parceiro {
    font-family: Montserrat;
    justify-content: left  !important;
    font-style: normal !important;
    font-weight: 500 !important;
    font-size: 10px !important;
    line-height: 12px !important;
    text-align: left !important;
    margin-left: 10px !important;
  
    /* $grey-color-77 */
  
    color: #B0BEC5 !important;
  
    /* Inside Auto Layout */
    text-align: left !important;
    flex: none !important;
    order: 3 !important;
    flex-grow: 0 !important;
  }
  
  .nome-parceiro {
    /* Frame 30 */
  
  
  /* Auto Layout */
  
  display: flex !important;
  justify-content: left !important;
  font-size: 8px !important;
  
  position: static !important;
  left: 0px !important;
  top: 0px !important;

  text-align: left !important;
  margin-left: 10px !important;
  
  color: #B0BEC5 !important;
  /* Inside Auto Layout */
  
  flex: none !important;
  order: 0 !important;
  flex-grow: 0 !important;
  
  }

.rounded {
    border-radius: 0.4rem !important;
}

.btnConfirmacao {
    background-color: #9F1F90;
    border-color: #9F1F90;
    border-radius: 0%;
    border-radius: 4px;
    color: white;
    padding: 11px 0 11px 0;
  }
  
  .btnSair {
    background-color: white;
    border-color: #9F1F90;  
    border-radius: 0%;
    border-radius: 4px;
    color: black;
    font-size: 16px;
    padding: 11px 0 11px 0;
  }
  
  .btnSair:hover { 
    background-color: #9F1F90;
    color:white;
    font-size: 16px;
  }
  
  .btnEsvaziar {
    background-color: white;
    border-color: red;  
    border-radius: 0%;
    border-radius: 4px;
    color: red;
    font-size: 16px;
    padding: 11px 0 11px 0;
  }
  
  .btnEsvaziar:hover { 
    background-color: red;
    color:white;
    font-size: 16px;
  }
  

.blocoConfirmar{
    background-color: #fff;
    padding: 10px;
    z-index: 999;
  }
  
.btnWhatsapp {
    background-color: #33CB00;
    border-color: #33CB00;
    border-radius: 0%;
    border-radius: 4px;
    color: white;
    padding: 11px 0 11px 0;
  }

.btnWhatsapp:hover { 
    background-color: white;
    color:#9F1F90;
}

.blocoCarrinho {
    border: 1px solid transparent;
    border-radius: 4px;
    margin: 0 0 2% 2.5%;
    width: 95%;
    background-color: #9F1F90;
    border-color: #9F1F90;
    padding: 5px 0px 5px 0px;        
    text-align: right !important;
    
}
.blocoCarrinho button {
    color: white !important;
    text-decoration: none; 
    padding-right: 15px !important;
}

.blocoCarrinho:hover {
    border-color: #9F1F90 !important;
    background-color: white !important;
    color:#9F1F90 !important;
    text-decoration: none; 
}

.blocoCarrinho button:hover {
    background-color: white !important;
    color:#9F1F90 !important;
    text-decoration: none; 
}

div.card-principal {   
    width: 100vw;
    -height: 100vh; 
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center
  }
  
div.card-valor {
    position: absolute;
    top: 100px;    
    width: 250px;
    text-align: center;    
}

.center {
    display: block;
    -position: relative;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
  }

.center{
    text-align: center;
  
  }

.btn-trocados {
    color: #fff !important; 
    background-color: #33CB00 !important;
    border-color: #33CB00 !important;
    border: 1px solid !important;
    font-size: 0.5rem !important;
}

.btn-trocados:hover {
    color: #33CB00 !important;
    background-color: #fff !important;    
    border-color: #33CB00 !important;
    
}

.shadow{
    box-shadow: 0 0.1rem 0.2rem rgba(0,0,0,0.1)!important;
}

.endereco{
    text-align: left;
    color: white !important;
    border-radius: 8px;
  }

.texteEndereco {
    text-align: left;
    font-size: 0.6rem;
}

a {
    text-decoration: none;
    color: #263238;
}