.fixarTab {
    bottom: -24px;
    position: fixed;
    width: 100%;
    text-align: center;
    z-index: 999;
    left: 0.5rem;
    background-color: #fff;
}

.label-tab{        
    text-align: center;
    line-break: normal;
    /* font-size: small; */
    font-size: 9px;
    /* font-weight: 900; */
    margin: -2px auto;
    text-transform: none;
}

.nav-link-rodape {
    padding: 20px 5px 20px !important;
    font-weight: 500;
}

.nav-pills .nav-link{
    --mdb-nav-pills-link-hover-bg: #fff !important;
    --mdb-nav-pills-margin: 0.3em !important;
}