/**
    MultiCarousel
  */

.MultiCarousel {
  float: left;
  overflow: hidden;
  padding: 15px;
  width: 100%;
  position: relative;
}

.MultiCarousel .MultiCarousel-inner {
  transition: 1s ease all;
  float: left;
}

.MultiCarousel .MultiCarousel-inner .item {
  float: left;
}

.MultiCarousel .MultiCarousel-inner .item>div {
  text-align: center;
  padding: 5px;
  margin: 5px;
  color: #fff;
  border-radius: 8px;
  background-color: white;
}

.MultiCarousel .leftLst, .MultiCarousel .rightLst {
  position: absolute;
}

.MultiCarousel .leftLst {
  left: 0;
}

.MultiCarousel .rightLst {
  right: 0;
}

.MultiCarousel .leftLst.over, .MultiCarousel .rightLst.over {
  pointer-events: none;
  color: #33CB00;
}

/**
    MultiCarousel FIM
  */

/** Categoria  */

.categoria {
  width: auto;
  max-width: 75px;
  height: auto;
  max-height: 90px;
}

.categoria-texto {
  font-size: 12px;
}

/** Categoria  FIM*/

/**
    Shopping Imagens
  */

h3.h3 {
  text-align: center;
  margin: 1em;
  text-transform: capitalize;
  font-size: 1.7em;
}

/********************* Shopping Demo-8 **********************/

.product-grid8 {
  font-family: Poppins, sans-serif;
  position: relative;
  z-index: 1
}

.product-grid8 .product-image8 {
  border: 1px solid #e4e9ef;
  position: relative;
  transition: all .3s ease 0s
}

.product-grid8:hover .product-image8 {
  box-shadow: 0 0 10px rgba(0, 0, 0, .15)
}

.product-grid8 .product-image8 a {
  display: block
}

.product-grid8 .product-image8 img {
  width: 100%;
  height: auto
}

.product-grid8 .pic-1 {
  opacity: 1;
  transition: all .5s ease-out 0s
}

.product-grid8:hover .pic-1 {
  opacity: 0
}

.product-grid8 .pic-2 {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  transition: all .5s ease-out 0s
}

.product-grid8:hover .pic-2 {
  opacity: 1
}

.product-grid8 .social {
  padding: 0;
  margin: 0;
  list-style: none;
  position: absolute;
  bottom: 13px;
  right: 13px;
  z-index: 1
}

.product-grid8 .social li {
  opacity: 0;
  transform: translateY(3px);
  transition: all .5s ease 0s
}

.product-grid8:hover .social li {
  margin: 0 0 10px;
  opacity: 1;
  transform: translateY(0);
  color: #33CB00;
}

.product-grid8:hover .social li:nth-child(1) {
  transition-delay: .1s
}

.product-grid8:hover .social li:nth-child(2) {
  transition-delay: .2s
}

.product-grid8:hover .social li:nth-child(3) {
  transition-delay: .4s
}

.product-grid8 .social li a {
  color: #33CB00;
  font-size: 17px;
  line-height: 40px;
  text-align: center;
  height: 40px;
  width: 40px;
  border: 1px solid #33CB00;
  display: block;
  transition: all .5s ease-in-out
}

.product-grid8 .social li a:hover {
  color: #33CB00;
  border-color: #33CB00
}

.product-grid8 .product-discount-label{
  display: block;
  font-size: 10px;
  padding: 0px 0px 4px 20px;
  color: #fff;
  background-color: #a01f91;
  position: absolute;
  top: 0px;
  right: -2px;
  -webkit-clip-path: polygon(34% 0,100% 0,100% 100%,0 100%);
  clip-path: polygon(34% 0,100% 0,100% 100%,0 100%);
  }

.product-grid8 .product-content {
  padding: 20px 0 0
}

.product-grid8 .price {
  color: #000;
  font-size: 19px;
  font-weight: 400;
  margin-bottom: 8px;
  text-align: left;
  transition: all .3s
}

.product-grid8 .price span {
  color: #999;
  font-size: 14px;
  font-weight: 500;
  text-decoration: line-through;
  margin-left: 7px;
  display: inline-block
}

.product-grid8 .product-shipping {
  color: rgba(0, 0, 0, .5);
  font-size: 15px;
  padding-left: 35px;
  margin: 0 0 15px;
  display: block;
  position: relative;
  font-weight: bolder;
}

.product-grid8 .product-shipping:before {
  content: '';
  height: 1px;
  width: 25px;
  background-color: rgba(0, 0, 0, .5);
  transform: translateY(-50%);
  position: absolute;
  top: 50%;
  left: 0
}

.product-grid8 .title {
  font-size: 16px;
  font-weight: 400;
  text-transform: capitalize;
  margin: 0 0 30px;
  transition: all .3s ease 0s
}

.product-grid8 .title a {
  color: #000
}

.product-grid8 .title a:hover {
  color: #0081c2
}

.product-grid8 .all-deals {
  display: block;
  color: #fff;
  background-color: #2e353b;
  font-size: 15px;
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
  padding: 22px 5px;
  transition: all .5s ease 0s
}

.product-grid8 .all-deals .icon {
  margin-left: 7px
}

.product-grid8 .all-deals:hover {
  background-color: #0081c2
}

@media only screen and (max-width:990px) {
  .product-grid8 {
    margin-bottom: 30px
  }
}

/**
   Shopping Imagens Fim
*/

.blocoValorProduto {
  -position: absolute;
  width: 100%;
  -height: 78px;  
}

.percentualProduto {
  -font-family: Montserrat;
  font-style: normal;
  font-weight: 800;
  font-size: 64px;
  line-height: 78px;
  /* identical to box height */
  text-align: right;
  color: #9F1F90;
  margin-bottom: 0;
}

.valorProdutoOriginal {
  -margin: 15px 10px -15px 0;
  -font-family: Montserrat;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 29px;
  text-align: right;
  text-decoration-line: line-through;
  color: #ED431E;
}

.valorProdutoDesconto {
  -margin: 0px 10px -15px 0;
  -font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  -line-height: 29px;
  text-align: right;
  -text-decoration-line: line-through;
  -font-weight: bold;
  color: #263238;
}

.blocoRetirada {
  background-color: transparent;
}




.btnAddCarrinho {
  background-color: #9F1F90;
  border-color: #9F1F90;  
  border-radius: 0%;
  border-radius: 4px;
  color: white;
  font-size: 16px;
  padding: 11px 0 11px 5px;
  margin: 11px 0 11px 0 !important;
}

.btnAddCarrinho:hover { 
  background-color: #9F1F90;
  color:white;
  font-size: 16px;
}

.btnSair {
  background-color: white;
  border-color: #9F1F90;  
  border-radius: 0%;
  border-radius: 4px;
  color: black;
  font-size: 16px;
  padding: 11px 0 11px 0;
  margin: 11px 0 11px 0 !important;
}

.btnSair:hover { 
  background-color: #9F1F90;
  color:white;
  font-size: 16px;
}

.blocoConfirmar{
  background-color: #fff;
  padding: 10px 0 10px 0;
  z-index: 999;
}


.center {
  display: block;
  -position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.alerta-retirada {
  color: #263238;
}

.text-right {
  float: right;
  margin-right: 10px;
  margin-top: 5px;
}

.desc {
  color: 546E7A;
}

.verde {
  color: #33CB00;
}

.input-group-text {
  background-color: transparent !important;
  border: none;
}

.borda-esquerda {
  background-color: white;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.borda-direita {
  background-color: white;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

input[type="radio"]:checked {
 
  background-color: #33CB00 !important;
  color:#33CB00 !important
}

.titulo{
  margin-top: 10px;
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 0px;
}

.descricao{
  font-size: 15px;
}

.centralizar{
  padding: 25px 0px 25px 0px;
}
.card-produto{
  padding: 10px 10px 10px 10px;
  border-radius: 20px !important ;
}

.bottom{
  margin-bottom: 10px;
}

.top{
  margin-bottom: 10px;
}

.white{
  background-color: white;
  border-radius: 8px;
}

.padding{
  padding: 0.75rem !important;
}

.black{
  background-color: black;
  
}

.form-control{
  border: 2px solid #33CB00 !important;
}


.label-resumo{
  font-family: 'Merriweather Sans', sans-serif !important;
  font-weight: 100;
}

.center{
  text-align: center;

}

.descricaoPruduto{
  color: #546E7A !important;
}

.meio-branco{
  text-align: center;
  background-color: white;
  border-radius: 8px;
}

.margin-left-right{
  padding-left: 0px;
  padding-right: 0px;
}

.sub-titulo-card {
  color: #90A4AE;
}