div.card-principal {   
  width: 100vw;
  -height: 100vh; 
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center
}

div.card-valor {
  position: absolute;
  top: 100px;    
  width: 250px;
  text-align: center;    
}

/** Categoria  */
.categoria {
width: auto;
max-width: 75px;
height: auto;
max-height: 90px;
}

.categoria-texto {
font-size: 1rem;
-display: flex;
flex-direction: row;
align-items: flex-start;
padding: 5px;
}
/** Categoria  FIM*/


 /**
  Shopping Imagens
*/
h3.h3{text-align:center;margin:1em;text-transform:capitalize;font-size:1.7em;}


/********************* Shopping Demo-8 **********************/
.product-grid8{font-family:Poppins,sans-serif;position:relative;z-index:1; padding: 5px;}
.product-grid8 .product-image8{position:relative;transition:all .3s ease 0s}
.product-grid8:hover .product-image8{box-shadow:0 0 10px rgba(0,0,0,.15)}
.product-grid8 .product-image8 a{display:block}
.product-grid8 .product-image8 img{width: 100%;}
.product-grid8 .pic-1{opacity:1;transition:all .5s ease-out 0s}
.product-grid8:hover .pic-1{opacity:0}
.product-grid8 .pic-2{opacity:0;position:absolute;top:0;left:0;transition:all .5s ease-out 0s}
.product-grid8:hover .pic-2{opacity:1}
.product-grid8 .social{padding:0;margin:0;list-style:none;position:absolute;bottom:13px;right:13px;z-index:1}
.product-grid8 .social li{opacity:0;transform:translateY(3px);transition:all .5s ease 0s}
.product-grid8:hover .social li{margin:0 0 10px;opacity:1;transform:translateY(0); color: #33CB00;}
.product-grid8:hover .social li:nth-child(1){transition-delay:.1s}
.product-grid8:hover .social li:nth-child(2){transition-delay:.2s}
.product-grid8:hover .social li:nth-child(3){transition-delay:.4s}
.product-grid8 .social li a{color:#33CB00;font-size:17px;line-height:40px;text-align:center;height:40px;width:40px;border:1px solid #33CB00;display:block;transition:all .5s ease-in-out}
.product-grid8 .social li a:hover{color:#33CB00;border-color:#33CB00}
.product-grid8 .product-discount-label{
display: block;
font-size: 10px;
padding: 0px 0px 4px 20px;
color: #fff;
background-color: #a01f91;
position: absolute;
top: 0px;
right: -2px;
-webkit-clip-path: polygon(34% 0,100% 0,100% 100%,0 100%);
clip-path: polygon(34% 0,100% 0,100% 100%,0 100%);
}
.product-grid8 .product-content{padding:20px 0 0}
.product-grid8 .price{color:#000;font-size:10px;margin-left: 10px;font-weight:600;margin-bottom:14px;text-align:left;transition:all .3s}
.product-grid8 .price span{color:#999;font-size:8px;font-weight:500;text-decoration:line-through;margin-left:7px;display:inline-block}



.product-grid8 .product-shipping{
  color:rgba(0,0,0,.5);
  font-size:10px;
  padding-left:5px;
  margin:0 0 15px;
  display:block;
  position:relative;
  font-weight: bolder;
  
  height: 14px;
  display: block; /* Fallback for non-webkit */
  display: -webkit-box;
  max-width: 400px;    
  margin: 0 auto;
  -webkit-line-clamp: 2;
  --webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;

  text-align: left;
}

.product-grid8 .title{font-size:16px;font-weight:400;text-transform:capitalize;margin:0 0 30px;transition:all .3s ease 0s}
.product-grid8 .title a{color:#000}
.product-grid8 .title a:hover{color:#0081c2}
.product-grid8 .all-deals{display:block;color:#fff;background-color:#2e353b;font-size:15px;letter-spacing:1px;text-align:center;text-transform:uppercase;padding:22px 5px;transition:all .5s ease 0s}
.product-grid8 .all-deals .icon{margin-left:7px}
.product-grid8 .all-deals:hover{background-color:#0081c2}
@media only screen and (max-width:990px){.product-grid8{margin-bottom:-20px}
}

.padding{
padding: 1rem!important;
}

/**
 Shopping Imagens Fim
*/

/********************* Shopping Demo-8 **********************/
.product-grid9{font-family:Poppins,sans-serif;position:relative;z-index:1; padding: 5px;}
.product-grid9 .product-image8{position:relative;transition:all .3s ease 0s}
.product-grid9:hover .product-image8{box-shadow:0 0 10px rgba(0,0,0,.15)}
.product-grid9 .product-image8 a{display:block}
.product-grid9 .product-image8 img{width: 100%;}
.product-grid9 .pic-1{opacity:1;transition:all .5s ease-out 0s; width: 90% !important }
.product-grid9:hover .pic-1{opacity:0}
.product-grid9 .pic-2{opacity:0;position:absolute;top:0;left:0;transition:all .5s ease-out 0s}
.product-grid9:hover .pic-2{opacity:1; width: 100px !important}
.product-grid9 .social{padding:0;margin:0;list-style:none;position:absolute;bottom:13px;right:13px;z-index:1}
.product-grid9 .social li{opacity:0;transform:translateY(3px);transition:all .5s ease 0s}
.product-grid9:hover .social li{margin:0 0 10px;opacity:1;transform:translateY(0); color: #33CB00;}
.product-grid9:hover .social li:nth-child(1){transition-delay:.1s}
.product-grid9:hover .social li:nth-child(2){transition-delay:.2s}
.product-grid9:hover .social li:nth-child(3){transition-delay:.4s}
.product-grid9 .social li a{color:#33CB00;font-size:17px;line-height:40px;text-align:center;height:40px;width:40px;border:1px solid #33CB00;display:block;transition:all .5s ease-in-out}
.product-grid9 .social li a:hover{color:#33CB00;border-color:#33CB00}
.product-grid9 .product-discount-label{
display: block;
font-size: 10px;
padding: 0px 0px 4px 20px;
color: #fff;
background-color: #a01f91;
position: absolute;
top: 0px;
right: -2px;
-webkit-clip-path: polygon(34% 0,100% 0,100% 100%,0 100%);
clip-path: polygon(34% 0,100% 0,100% 100%,0 100%);
}
.product-grid9 .product-content{padding:20px 0 0}
.product-grid9 .price{color:#000;font-size:10px;margin-left: 12px;font-weight:600;margin-bottom:14px;text-align:left;transition:all .3s}
.product-grid9 .price span{color:#999;font-size:8px;font-weight:500;text-decoration:line-through;margin-left:7px;display:inline-block}

.slide-grupo-parceiro {
border-radius: 50%!important;
min-height: 50% !important;
width: 110px !important;
width: 75% !important;
}

.slide-grupo-parceiro .rounded{
border-radius: 50% !important;
margin-left: 0px !important;
}

.nome-parceiro-grupo {

justify-content: left !important;
font-size: 14px !important;
position: relative !important;
left: 0px !important;
top: -5px !important;
text-align: center !important;
margin-left: 0px !important;
color: #11152C !important;
flex: none !important;
order: 0 !important;
flex-grow: 0 !important;
z-index: 99;
}

.product-grid9 .product-shipping{
  color:rgba(0,0,0,.5);
  font-size:10px !important;
  padding-left:10px;
  margin:0 0 15px;
  display:block;
  position:relative;
  font-weight: bolder;
  
  height: 34px;
  display: block; /* Fallback for non-webkit */
  display: -webkit-box;
  max-width: 400px;    
  margin: 0 auto;
  -webkit-line-clamp: 2;
  --webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;

  text-align: center !important;
}

.product-grid9 .title{font-size:16px;font-weight:400;text-transform:capitalize;margin:0 0 30px;transition:all .3s ease 0s}
.product-grid9 .title a{color:#000}
.product-grid9 .title a:hover{color:#0081c2}
.product-grid9 .all-deals{display:block;color:#fff;background-color:#2e353b;font-size:15px;letter-spacing:1px;text-align:center;text-transform:uppercase;padding:22px 5px;transition:all .5s ease 0s}
.product-grid9 .all-deals .icon{margin-left:7px}
.product-grid9 .all-deals:hover{background-color:#0081c2}
@media only screen and (max-width:990px){.product-grid9{margin-bottom:-20px}
}

.padding{
padding: 1rem!important;
}

/**
 Shopping Imagens Fim
*/


/*CONTAGEM REGRESSIVA*/
/*
*
* ==================================================
* UNNECESSARY STYLE - JUST TO MAKE IT LOOKS NICE
* ==================================================
*
*/
.countdown {
text-transform: uppercase;
font-weight: bold;
}

.countdown span {
-text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
font-size: 1rem;
margin-left: 0.8rem;
}

.countdown span:first-of-type {
margin-left: 0;
}

.countdown-circles {
text-transform: uppercase;
font-weight: bold;
}

.countdown-circles span {
width: 100px;
height: 100px;
-border-radius: 50%;
-background: rgba(255, 255, 255, 0.2);
display: flex;
align-items: center;
justify-content: center;
-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.countdown-circles span:first-of-type {
margin-left: 0;
}


/*
*
* ==================================================
* FOR DEMO PURPOSES
* ==================================================
*
*/
body {
min-height: 100vh;
}

.bg-gradient-3 {
-background: #212529;
-background: -webkit-linear-gradient(to right, #000, #212529);
-background: linear-gradient(to right, #000, #212529);
color: #33CB00;
font-family: 'Montserrat', sans-serif !important;
}



.btn-demo {
padding: 0.5rem 2rem !important;
border-radius: 30rem !important;
background: rgba(255, 255, 255, 0.3);
color: #fff;
text-transform: uppercase;
font-weight: bold !important;
}

.btn-demo:hover, .btn-demo:focus {
color: #fff;
background: rgba(255, 255, 255, 0.5);
}
/* FIM CONTAGEM REGRESSIVA*/ 

.labelCategoria{ 
margin-bottom: 0px !important;
}

.font-s{
font-size: 12px;
}


.div-categoria {
text-align: center;  
color:#fff; 
border-radius: 100px;  
}

.div-categoria a div {
color:#fff; 
font-size: 16px;
}

.cor-trocados {
color:#33CB00 !important; 
}

.cor-trocados-ativo {
color:#0051CB !important; 
}

.card-categoria {
background-color: #3BBB10;
width: 100%;
margin: -10px 0 0 0;
}

/*CENTRALIZAR IMAGEM FIT*/
.centralizarImagemDiv1 { 
width:fit-content;
height: fit-content;
}

.centralizarImagemDiv2 {

padding: 5px;  
box-sizing: border-box;
height: 150px;
}

.centralizarImagem {
  height: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto
}