/***form 2****/
.pesquisar {position:relative;}
.pesquisar input{
    width:100% ;
    border:1px solid #CFD8DC;
    padding:5px 5px ;
    border-radius:4px;
    box-shadow:none    
}
.pesquisar .button-Serch{
    right:0;
    top:1px;
    position: absolute;
    color:#CFD8DC !important;   
    transition:all ease-in-out 0.5s;
    padding: 5px 10px;
    cursor:pointer;
}



.pesquisar input::placeholder {
    color: #CFD8DC;    
    size: 1.0em;
  }


.pesquisar .button-Serch:hover{background:#333;}